
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(135deg, #a41c58, #dc1c14, #a41c58);
    color: white;
}

table {

    background-image: linear-gradient(black, grey);
    text-shadow: 5px 5px 5px black;
}

td {
/*     background-color: black; */
    font-size: 4.5rem;

    text-align: right;
}

th {
    font-size: 3rem;
    vertical-align: middle !important;
    text-align: right !important;
}

.container-fluid {
    padding: 0% 0%;
}

.table-col {
    padding: 1% 1%;
}