
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    }

.table {
    background-image: linear-gradient(black, grey);
    text-shadow: 5px 5px 5px black;
    }



.tbody-sales {
    font-size: 3.5rem;
    text-align: right;
    }

.tbody-vcc {
    font-size: 3rem;
    text-align: right;
    }

th {
    font-size: 3rem;
    vertical-align: middle !important;
    text-align: right !important;
    }

.first-column {
    padding-right: 0%;
    }

.flag-map {
    height: 41px;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    }

.flags-row {
    margin-left: 0px;
    margin-right: 0px;
    }

.flags-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
