{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
{{ turbo() }}
{% block styles%}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}
{% endblock %}

{% block title %}
4LD Sales Wallboard
{% endblock %}

{% block content %}
<body style="background-image: url({{ url_for('static', filename='img/dark_blue.jpg') }})">
<div class="row container-fluid">
    <div class="col-lg-11">
        <h2>4LD cz-sk Sales Wallboard</h2>
    </div>
    {% include "time.html" %}
</div>

{% include "wallboard.html" %}

{% block footer %}
<div class="text-center fixed-bottom footer">
    <p>© {{ year }}, David Bernát, 4Life Direct Czech Republic.</p>
</div>
{% endblock %}
</body>
{% endblock %}

