<thead>
    <tr>
        <th scope="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Flag-map_of_Poland.svg/1024px-Flag-map_of_Poland.svg.png"
                 class="flag-map img-responsive">
        </th>
        <th colspan="3">Total</th>
        <th colspan="3">WoL</th>
    </tr>
    <tr>
        <th scope="col">Source</th>
        <th scope="col">Plan</th>
        <th scope="col">Sold</th>
        <th scope="col">To Go</th>
        <th scope="col">Plan</th>
        <th scope="col">Sold</th>
        <th scope="col">To Go</th>
    </tr>
</thead>