<thead>
    <tr>
        <th scope="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag-map_of_Slovakia.svg"
                 class="flag-map img-responsive">
        </th>
        <th colspan="3">Total</th>
        <th colspan="3">WoL</th>
    </tr>
    <tr>
        <th scope="col">Zdroj</th>
        <th scope="col">Cíl</th>
        <th scope="col">Plnění</th>
        <th scope="col">Zbývá</th>
        <th scope="col">Cíl</th>
        <th scope="col">Plnění</th>
        <th scope="col">Zbývá</th>
    </tr>
</thead>