<thead>
<tr>
    <th scope="col">
        <div class="row flags-row">
            <div class="col-lg-5 flags-col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Flag-map_of_the_Czech_Republic.svg"
                     class="flag-map img-responsive">
            </div>
            <div class="col-lg-7 flags-col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag-map_of_Slovakia.svg"
                     class="flag-map img-responsive">
            </div>
        </div>
    </th>
    <th colspan="3">Total</th>
    <th colspan="3">WoL</th>
</tr>
<tr>
    <th scope="col">Zdroj</th>
    <th scope="col">Cíl</th>
    <th scope="col">Plnění</th>
    <th scope="col">Zbývá</th>
    <th scope="col">Cíl</th>
    <th scope="col">Plnění</th>
    <th scope="col">Zbývá</th>
</tr>
</thead>