<div id="tab_1" class="data">

    <table>
        <tr>
            <th></th>
            <th colspan="3">Total</th>
            <th colspan="3">WoL</th>
        </tr>
        <tr>
            <th>Zdroj</th>
            <th>Cíl</th>
            <th>Splněno</th>
            <th>Zbývá</th>
            <th>Cíl</th>
            <th>Splněno</th>
            <th>Zbývá</th>
        </tr>

        {% for i in range(tab_1.shape[0]) %}
        <tr>
            {% for j in range(tab_1.shape[1]) %}
            <td>{{ tab_1.iloc[i, j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>